{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Moap Inventory System{% endblock %}

{% block content %}
    <h1 align="center">Welcome to Moap Inventory Management System</h1>

    <h4 align="center">" Save time. Save money. What's not to love about our Inventory Management System! "</p>
        <p>Our System is a computer-based system for tracking your Company available Items,</p>

        <p>Item Costs/Amounts, Serial Numbers and Item descriptions.</p></h4>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/online-inventory-system-save-money.png' %}"
                     alt="">

                <div class="caption">
                    <h3>Items in Stock</h3>

                    <p>To view all the available items in Stock,Please click the Button below.</p>

                    <p><a href="{% url 'inventory:landing' %}" class="btn btn-primary" role="button">View Items</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/3.jpg' %}" alt="">

                <div class="caption">
                    <h3>Item Addition</h3>

                    <p>If you want to add more items into the system,Please click the Button below.</p>

                    <p><a href="#" class="btn btn-primary" role="button"></i>Add Items</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/2.jpg' %}" alt="">

                <div class="caption">
                    <h3>SAVE more</h3>

                    <p>For more details about what the system does,Please click the Button below.</p>

                    <p><a href="#" class="btn btn-primary" role="button">Our System</a></p>
                </div>
            </div>
        </div>
    </div>
    <div  class="extra-wrap extra-block-3" >

    <h2 align="center">INVENTORY MADE easy!</h2>

        <h3 align="center" >In addition to Moap's feature set, there are many reasons to use our inventory tool,</br>
        including but not limited to: it's free, it saves you time, it makes next time easier, </br>
        it ensures you don't lose your written list, and we add features and enhancements all the time.</h3>
        <div align="center">
            <img src="{% static 'img/signup-for-free-inventory-management.png' %}"
                     alt="">
        </div>
    </div>

{% endblock %}