{% extends 'base.html' %}


{% block title %} Available Items {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="page-header" align="center" xmlns="http://www.w3.org/1999/html">
        <h2>Items in Stock</h2>
    </div>
    <div class="container">

    	<div class="row">
			<div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Items List</h3>

					</div>
					<div class="panel-body">
                        <div class="col-md-6">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Search Items" />
                        </div>
                        <div class="pull-right">
                            <a href="{% url 'inventory:add-items' %}" align="pull-right" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus"></span> Add Item</a>
                        </div>
                    </div>
					<table class="table table-hover" id="dev-table">
						<thead>
							<tr>


                    <th >ID</th>
                    <th >Title</th>
                    <th >Serial Number</th>
                    <th >Cost</th>
                    <th >Description</th>
                    <th class="text-center">Actions</th>
                </tr>
						</thead>
						<tbody>
            {% for item in items %}
                <tr >
                    <td>
                        {{ item.id|capfirst }}
                    </td>
                    <td>
                        {{ item.title|capfirst }}
                    </td>
                    <td>
                        {{ item.serial_number }}
                    </td>
                    <td>
                        {{ item.amount }}
                    </td>
                    <td>
                        {{ item.description }}
                    </td> <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>

                </tr>
            {% endfor %}

						</tbody>
					</table>
				</div>
			</div>

	    </div>
    </h1>
        </div>
     {% else %}
         <a href="#">Login</a>
    {% endif %}
{% endblock %}
